<%= render 'layouts/header' %>

<div id="top">
  <div id="top_text">
    <img src="assets/about1.png" alt="logo">
    <h1>美容室の</br>常識を超える</h1>
  </div>
  <div id="top_visual">
    <%= image_tag 'top1.JPG', alt: "", class: 'top_image' %>
  </div>
</div>


<div class="content">
  <div id="about">
    <div id="about_img">
      <%= image_tag 'about1.png', alt: "", class: 'about_img' %>
    </div>
    <div id="about_text">
      <p>《長野のど真ん中で、長野の一番を》美容室の常識を超え、お客様には最高の空間と最高の技術を！</p>
    </div>
  </div>
</div>