<%= render 'layouts/header' %>

<div id="top">
  <div id="top_text">
    <img src="assets/about1.png" alt="logo">
    <h1>Be More</br>Myself</h1>
  </div>
  <div id="top_visual">
    <%= image_tag 'top1.JPG', alt: "", class: 'top_image' %>
  </div>
</div>


<div class="content">
  <div id="about">
    <div class="about_content">
      <%= image_tag 'adit.png', alt: "", class: 'about_img' %>
    </div>
    <div class="about_content">
      <div id="about_content_text">
        <h3>《長野のど真ん中で、長野の一番を》美容室の常識を超え、お客様には最高の空間と最高の技術を！</h3>
        <p>芸能人風/モテ/個性/王道etc… </br>
        トレンドも理想も扱いやすさも兼ね備えた最新スタイルにアップデートしませんか？</br>
        ＯＰＥＮ以来勢いが止まらないU.No.最新の店内サービスにも驚きと絶賛の声多数！</br>
        新感覚のサロン体験にワクワクが止まらない…！県下初エンタメサロンの秘密をご紹介します☆</p>
      </div>
    </div>
  </div>
</div>